/* AdminHome.css */

.admin-home-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .admin-options {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .admin-option {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .admin-icon {
    font-size: 36px;
    margin-bottom: 10px;
  }
  